@charset 'utf-8';
@import "~bulma/bulma";

.vertical {
    position:relative;
    perspective: 1000px;

    transition: all 2s;
    cursor: pointer;

    $flipbg: #00d1b2;

    // Extra
    // text-align: center;
    // width: 30%;
    // margin: 0 auto;
    // margin-bottom:1px;
    // height: 100px;

    .face {
        $timing: .5s;

        // this is important to include
        // our elements are in the 3d space
        transform-style: preserve-3d;

        // we hide the backface element
        backface-visibility: hidden;
        transition: all $timing;


        position:absolute;
        width: calc(100% - 1.5rem);
        height: 100px;
    }

    .flip {
        transform: rotatex(0deg);
        z-index:10;
        background:$flipbg; // Extra
        transition: transform .5s;
    }

    .flop {
        transform: rotatex(-180deg);
        z-index:0;
        color: #00947e;
        background: #ebfffc; // Extra
        transition: transform .5s;
    }

    &.rotated .flip {
        transform: rotatex(180deg);
    }

    &.rotated .flop {
        transform: rotatex(0deg);
    }
}
