@charset 'utf-8';
@import "~bulma/bulma";

$spacing: .75rem;
$big-spacing: 1.5rem;

.vertical {
    position:relative;
    perspective: 1000px;

    transition: all 2s;
    cursor: pointer;

    height: calc(150px + #{$big-spacing});

    .face {
        $timing: .5s;

        // this is important to include
        // our elements are in the 3d space
        transform-style: preserve-3d;

        // we hide the backface element
        backface-visibility: hidden;
        transition: all $timing;

        position:absolute;
        width: calc(100% - #{$big-spacing});
        height: calc(100% - #{$big-spacing});
    }

    .flip {
        transform: rotatex(0deg);
        z-index:10;
        transition: transform .5s;
    }

    .flop {
        transform: rotatex(-180deg);
        z-index:0;
        transition: transform .5s;
        overflow: scroll;
    }

    &.rotated .flip {
        transform: rotatex(180deg);
    }

    &.rotated .flop {
        transform: rotatex(0deg);
    }
}

.message, .notification {
    height: 100%;
}

#addCardSuccessMessage {
    margin-top: $spacing;
}

.d-none {
    display: none;
}
